version: '3.8'

services:
  backend:
    build:
      context: ./Speed-Trade-Reconciliation-BE
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - ./.env
    depends_on:
      - db
    networks:
      - speed-trade-net

  frontend:
    build:
      context: ./Speed-Trade-Reconciliation-FE
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - speed-trade-net

  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3307:3306"
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - speed-trade-net

networks:
  speed-trade-net:
    driver: bridge

volumes:
  db-data:
